<div class="blog-feed">
    <div class="inner-wrap">
     <header class="section-header">
      <h2>Thank You</h2>
      <p>A huge shoutout to the following folks and orgs for amplifying my voice over the years.</p>
    </header>

<ul class="thank-you-list">
  
  <li class="thank-you-list__item">
    <a href="https://xd.adobe.com/ideas/process/user-testing/effective-ab-testing-essential-tips/" target="_blank"><img src="/assets/adobe.png" alt="Adobe"></a>
  </li>
  <li class="thank-you-list__item">
    <a href="https://aneventapart.com/news/post/fit-for-purpose-making-sense-of-the-new-css-by-eric-meyer" target="_blank"><img src="/assets/eric-meyer.png" alt="Eric Meyer"></a>
  </li>
  <li class="thank-you-list__item">
    <a href="https://twitter.com/smashingmag/status/844591941673209856" target="_blank"><img src="/assets/smashing-magazine.png" alt="Smashing Magazine"></a>
  </li>
  <li class="thank-you-list__item">
    <a href="https://twitter.com/ibmdesign/status/1166369276795793408" target="_blank"><img src="/assets/ibm-design.png" alt=""></a>
  </li>
  <li class="thank-you-list__item">
    <a href="https://twitter.com/WalterStephanie/status/1168397504133652480" target="_blank"><img src="/assets/stephanie-walter.jpg" alt="Stéphanie Walter"></a>
  </li>
  <li class="thank-you-list__item">
    <a href="https://twitter.com/css/status/971490672976031745" target="_blank"><img src="/assets/css-tricks.jpg" alt="CSS Tricks"></a>
  </li>
  <li class="thank-you-list__item">
    <a href="https://twitter.com/zeldman/status/980941991646150656" target="_blank"><img src="/assets/jeffrey-zeldman.jpg" alt=""></a>
  </li>
  <li class="thank-you-list__item">
    <a href="https://adactio.com/journal/12461" target="_blank"><img src="/assets/jeremy-keith.jpg" alt="Jeremy Keith"></a>
  </li>
  <li class="thank-you-list__item">
    <a href="https://twitter.com/UIE/status/978349643938652161" target="_blank"><img src="/assets/center-centre.jpg" alt="Center Centre"></a>
  </li>
  
  
  <li class="thank-you-list__item">
    <a href="https://goodui.org/patterns/contributors/" target="_blank"><img src="/assets/jakub-linowski.jpg" alt="Jakub Linowski — GoodUI.org"></a>
  </li>
</ul>

  </div>
</div>