.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @include mq(medium) {
    overflow: visible;
  }
}

/*=============== Site Header ===============*/

.sh-sticky-wrap {
  //background-image:url(../img/bg-site-intro.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1000;
  @include mq(large) {
    height: $nav-height;
    position: relative;
    &.stuck {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      background-color: rgba(
        255,
        255,
        255,
        0.75
      ); //border-bottom: 1px solid $base-border-color;
      .site-nav {
        opacity: 1;
      }
      .site-logo {
        figure {
          margin: 0;
          padding: 0;
          &:after {
            opacity: 0;
          }
        }
        figcaption {
          opacity: 1;
        }
      }
    }
  }
}

.site-header-wrap {
  border-bottom: $base-border;
  @include mq(medium) {
    position: relative;
  }
  &.site-header-wrap__home {
    border-bottom: 0;
  }
}

.particles-js-canvas-el {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
  @include mq(medium) {
    z-index: 0;
  }
}

.site-header {
  //border-bottom: 1px solid $base-border-color;
  //@include transition (border .5s ease-in-out);
  height: $nav-height;
  .inner-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }
}
// .site-header__icon {
//   max-width:.75em;
//   margin-right:.2em;
// }
.site-logo {
}

.site-header-home {
  //border-bottom: 1px solid white;
  .site-nav {
    @include mq(medium) {
      //opacity:0;
      @include transition(opacity 0.5s ease-in-out);
    }
  }
  .site-logo {
    figure {
      &:after {
        content: '';
        background-image: url(../img/julian-headshot.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 100%;
        @include transition(all 0.5s ease-in-out);
      }
    }
    figcaption {
      opacity: 0;
      @include transition(all 0.5s ease-in-out);
    }
  }
}

.site-logo {
  // background-color:red;
  overflow: hidden;
  display: block;
  text-decoration: none;
  font-size: 1em; // background-color:green;
  //width: 16.25em;
  float: left;
  height: $nav-height;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  figure {
    position: relative;
    overflow: hidden;
    background-color: $base-color;
    display: block;
    height: 4.5em;
    width: 4.5em;
    line-height: 4.5em;
    border-radius: 100%;
    text-align: center;
    margin: 0;
    box-shadow: none; //font-size: .75em;
    float: left;
    img {
      vertical-align: middle;
      width: 90%;
    }
  }
  figcaption {
    @extend h2;
    line-height: 1;
    float: left;
    margin-left: 0.35em;
    font-size: 2.2em;
    margin-top: 0.2em;
    margin-bottom: 0;
  }
}

// .sh-sticky-wrap {
//   @include mq(large) {
//     height: $nav-height;
//   }
// }
.sh-utility-nav {
  overflow: hidden;
  height: $nav-height/1.5; //float:right;
  clear: both;
  margin-top: 2em;
  .social-wrap {
    width: 12em; //display: none;
    a {
      height: $nav-height/1.5; //background-color:green;
      line-height: $nav-height/1.5;
    }
  }
  @include mq(medium) {
    height: $nav-height;
    clear: none;
    margin-top: 0;
    .social-wrap {
      width: 12em;
    }
    text-align: right; //float: right;
    width: 12em;
    float: right; //background-color:red;
    .social-wrap {
      display: inline-block;
      a {
        height: $nav-height;
        line-height: $nav-height;
      }
    }
  }
  @include mq(large) {
    .social-wrap {
      width: 12em;
    }
    width: 12em;
  }
}

.site-search {
}

//Site Header Icons
.sh-icons {
  float: right;
  z-index: 2;
  position: relative;
  padding-top: 0.3em;
  @include mq(medium) {
  }
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center; //background-color:red;
  text-decoration: none;
  span {
    font-size: 0.75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  margin: 0;
  i {
    font-style: normal; //display:none;
  }
  @include mq(medium) {
    font-size: $medium-font-size;
    i {
      //display:inline;
    }
  }
}

.sh-ico-search {
  background-image: url(../img/ico-search.svg);
  @extend %sh-ico;
}

.sh-ico-menu {
  background-image: url(../img/ico-nav.svg);
  @extend %sh-ico;
  @include mq(medium) {
    display: none;
  }
}

/*=============== Site Intro ===============*/

.site-intro {
  text-align: center;
  .inner-wrap {
    padding-top: $baseline * 4;
    padding-bottom: $baseline * 4;
  }
  @include mq(medium) {
    .inner-wrap {
      padding-top: $baseline * 15;
      padding-bottom: $baseline * 15;
    }
  }
}

.si-signature {
  max-width: 20em; //margin-bottom:-.875em;
  fill: $blue;
}

.si-signature-inline {
  max-width: 6em;
  margin-bottom: -0.875em;
}

.si-h1 {
  @include xlarge-font-size;
  font-family: $base-font-family;
  font-weight: normal;
  margin-top: $baseline * 3;
  margin-bottom: $baseline * 3;
  position: relative;
  z-index: 2;
  font-style: normal; //text-transform: normal !important;
}

.si-subtext {
  position: relative; //margin-top:$baseline*5;
  font-weight: bold;
  z-index: 2;
}

.sh-ico-info {
  // font-size:1.5em;
  // text-decoration:none;
  color: green;
  border: 1px solid $base-accent-color;
  z-index: 2;
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em; //line-height:3em;
  // text-align:center;
  display: inline-block; // vertical-align: middle;
  position: relative;
  float: right; //margin-top:.3em;
  @include transition(all 0.2s ease-in-out);
  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; //background-color:red;
    display: block;
    text-indent: -99999em;
    overflow: hidden;
    text-align: left;
    background-image: url(../img/ico-nav.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center center;
    @include transition(all 0.2s ease-in-out);
  }
  &:hover {
    border: 1px solid $base-accent-color;
    span {
      @include transform(rotate(-90deg));
    }
  }
  @include mq(medium) {
    display: none;
  }
}

.site-nav-container {
  .snc-header {
    overflow: hidden;
  }
  .sh-ico-info {
    clear: both;
    span {
      @include transform(rotate(-90deg));
    }
    &:hover {
      span {
        @include transform(rotate(0deg));
      }
    }
  }
  @include mq(medium) {
    width: auto;
    margin-right: 0;
    float: right;
    position: relative;
    .snc-header {
      float: right;
    }
    .site-nav {
      float: right;
      width: 20em;
      margin-right: 1em;
    }
  }
  @include mq(large) {
    .site-nav {
      width: 20em;
      margin-right: 1em;
    }
  }
}

.pi-h1 {
  position: relative;
  z-index: 2;
}

/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
}

.site-content-primary {
}

.site-content-secondary {
}

/*=============== Site Footer ===============*/

.site-footer {
  background-color: $base-background-color;
  text-align: center;
  color: $white;
  a {
    @extend .link-style-inverted;
    color: $white;
  }
  p {
    @include small-font-size;
  }
  .social-wrap {
    overflow: hidden;
    width: 15em;
    margin: 0 auto;
    a {
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline * 2;
    padding-bottom: $baseline * 2;
  }
}

//This removes the blank space Webtrax adds to the footer
img[name='pphLoggerImage'] {
  display: none;
}

/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: 0.8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: 0.5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(../img/ico-search.svg) no-repeat center center !important;
}

.no-svg {
  .search-submit {
    background: url(../img/ico-search.png) no-repeat center center !important;
  }
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {
  }
  .search-text {
  }
}

.search-module {
  background-color: $base-color;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  @include transition(all 0.2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px; //position:absolute;
  top: 0;
  right: 0;
}

/*=============== Portfolio Section ===============*/

.work-section {
  border-bottom: 1px solid $base-border-color;
}

.ps-item {
  //border-top: 1px solid $base-border-color;
  @include span-columns(12 of 12);
  @include mq(medium) {
    @include span-columns(6 of 12);
    &:nth-child(2n) {
      @include omega;
    }
  }
  border-bottom: 0 !important;
  padding: $baseline;
  .section-header {
    background-color: lighten($light-gray, 4.5%);
    padding: $baseline * 2;
    margin-bottom: 0;
    @include transition(background 0.2s ease-in-out);
  }
  &:hover {
    .section-header {
      background-color: $light-gray;
    }
  }
}

.section-header {
  text-align: center;
  a {
    text-decoration: none;
  }
  h1,
  h2 {
    margin-top: 0;
  }
  margin-bottom: $baseline * 4;
}

/*=============== Subscribe Module ===============*/

.subscribe-module {
  //background-color:lighten($light-gray,4%);
  background-color: $blue;
  border-top: $base-border;

  h2,
  h3,
  p {
    color: $white;
    margin-bottom: 0;
  }
  .mc-label {
    display: none;
  }
  .inner-wrap {
    border-bottom: 1px solid $light-blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  @include mq(medium) {
    .inner-wrap {
      grid-template-columns: 7fr 5fr;
    }
  }
}

.subscribe-module__header {
  h2,
  h3 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.subscribe-module__form {
  text-align: left;
  @include mq(medium) {
    text-align: right;
  }
}
