{{ partial "html-header" . }} {{ partial "site-header" . }}
{{ partial "page-header" . }}
<section class="site-content article-content" role="main">

    <div class="inner-wrap-wide container">
        <div class="article__table-of-contents">
            <h3 class="article__aside__header">Table of Contents</h3>
            <!-- <ol>
                <li><a href="#why-css-grid" class="smooth-scroll">A quick primer on CSS Grid</a></li>
                <li><a href="#team-buy-in" class="smooth-scroll">Our Grid “aha” moment</a></li>
                <li><a href="#css-grid-flexbox" class="smooth-scroll">Resolving the CSS Grid vs. Flexbox argument</a></li>
                <li><a href="#css-grid-foundation" class="smooth-scroll">Laying the Grid foundation</a></li>
                <li><a href="#css-grid-fallbacks" class="smooth-scroll">Fallbacks for browsers without support</a></li>
                <li><a href="#conclusion" class="smooth-scroll">To conclude</a></li>
            </ol> -->
             {{ .TableOfContents }}
        </div>
        <main id="main" class="article__main">
            {{ .Content }}
            
        </main>
        <div class="article__additional-info">
            <div class="share-btns-v2">
                <p>Hey! You should motivate me to write more by sharing this on
                    <a href="https://twitter.com/intent/tweet?original_referer={{ .Permalink | absURL }}&text={{ .Title }}&url={{ .Permalink | absURL }}&via=juliangav&hashtags={{ range .Params.tags }}{{ . }},{{ end }}" target="_blank" rel="noopener" class="ico-twitter g-social-share">Twitter</a>. :)
                </p>
            </div>
            <hr>
            <div class="media-object">
                <figure class="mo-img">
                    <img src="/img/julian-headshot-large-v2.jpg" alt="Julian Gaviria">
                </figure>
                <div class="mo-body">
                    <p> I'm Julian, Director of User Experience at <a href="https://www.thomasnet.com" target="_blank" rel="noopener">Thomasnet.com</a>. I mostly write about what I'm working on related to UX/UI design &amp; front-end development. If you want a heads up as soon as I publish something, <a href="#" class="newsletter-form">let&nbsp;me&nbsp;know</a>.</p>
                </div>
            </div>
        </div>
    </div>
    {{ partial "recent-articles" . }}
</section>
<progress value="0" id="progressBar">
    <div class="progress-container">
        <span class="progress-bar"></span>
    </div>
</progress>
{{ partial "article-toc-scrollspy" . }}
{{ partial "footer" . }} {{ partial "html-footer" . }}
