html{ box-sizing: border-box; }
*{ box-sizing: inherit; }
html{ font-family: sans-serif; }
body{ margin: 0px; }
 figure, header, nav, section{ display: block; }
 canvas{ display: inline-block; vertical-align: baseline; }
a{ background-color: transparent; }
h1{ font-size: 2em; margin: 0.67em 0px; }
img{ border: 0px; }
svg:not(:root){ overflow: hidden; }
figure{ margin: 0px; }
body{ -webkit-font-smoothing: antialiased; background-color: rgb(35, 80, 122); color: rgb(51, 51, 51); font-family: ProximaNova, sans-serif; font-size: 1em; font-weight: normal; line-height: 1.5; }
@media (max-height: 46em) and (min-width: 60em){
body{ font-size: 0.875em; }
}
@media (max-height: 40em) and (min-width: 60em){
body{ font-size: 0.75em; }
}
h1{ font-family: ProximaNova, sans-serif; line-height: 1.25; margin: 0px; color: rgb(35, 80, 122); }
h1{ font-size: 2.34375em; margin-top: 0px; margin-bottom: 34px; text-align: center; color: rgb(126, 144, 165); font-family: ProximaNova, sans-serif; font-weight: 300; }
@media (min-width: 40em){
h1{ font-size: 2.8125em; }
}
@media (min-width: 60em){
h1{ font-size: 3.125em; }
}
p{ margin: 16px 0px; font-size: 1.3125em; font-weight: 300; }
@media (min-width: 40em){
p{ font-size: 1.5em; }
}
@media (min-width: 60em){
p{ font-size: 1.5em; }
}
a{ transition: all 0.1s linear; -webkit-transition: all 0.1s linear; color: rgb(35, 80, 122); text-decoration: none; }
img{ margin: 0px; max-width: 100%; }
ul{ margin: 0px; padding: 0px; list-style-type: none; }
.site-nav{ background-color: rgb(255, 255, 255); }
.site-nav span{ white-space: nowrap; }
@media (min-width: 40em){
.site-nav{ display: block; position: relative; top: 0px; left: 0px; background-color: transparent; }
}
.sn-level-1{ margin: 0px; padding: 0px; }
@media (min-width: 40em){
.sn-level-1{ height: 5.0625em; }
}
.sn-li-l1{ display: block; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: white; background-color: transparent; position: relative; transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; }
.sn-li-l1 span{ font-size: 1em; }
.sn-li-l1 > a{ display: block; height: 5.0625em; line-height: 5.0625em; color: rgb(35, 80, 122); text-decoration: none; padding: 0px 1em; }
@media (min-width: 40em){
.sn-li-l1{ height: 5.0625em; float: left; border-bottom-width: 0px; border-right-width: 1px; border-right-style: solid; border-right-color: rgba(13, 13, 13, 0); text-align: center; font-weight: bold; }
.sn-li-l1 span{ font-size: 1em; }
.sn-li-l1:nth-child(1n){ width: 25%; }
.sn-li-l1:nth-child(2n){ width: 25%; }
.sn-li-l1:nth-child(3n){ width: 25%; }
.sn-li-l1:nth-child(4n){ width: 25%; }
.sn-li-l1 > a{ padding: 0px 0em; }
}
@media (min-width: 60em){
.sn-li-l1 span{ font-size: 1em; }
.sn-li-l1 > a{ padding: 0px 0em; }
}
@media (min-width: 80em){
.sn-li-l1 > a{ padding: 0px 0em; }
}
.site-nav-container{ background-color: rgb(255, 255, 255); width: 17em; height: 100%; right: -17em; top: 0px; bottom: 0px; z-index: 1000; position: absolute; transition: all 0.25s ease-in-out; -webkit-transition: all 0.25s ease-in-out; }
@media (min-width: 40em){
.site-nav-container{ width: auto; height: auto; right: auto; bottom: auto; top: auto; position: static; background-color: transparent; }
}
.site-nav-container-screen{ position: absolute; display: none; z-index: 999; left: 0px; right: 0px; bottom: 0px; top: 0px; background-color: rgba(0, 0, 0, 0.498039); }
@media (min-width: 40em){
.site-nav-container-screen{ display: none !important; }
}
.snc-header{ text-align: center; padding: 0.3em 1em; overflow: hidden; }
@media (min-width: 40em){
.snc-header{ padding: 0px; }
}
.inner-wrap{ max-width: 68.75em; margin-left: auto; margin-right: auto; padding: 1.5em 1em; }
.inner-wrap::after{ clear: both; content: ''; display: table; }
.inner-wrap > :first-child{ margin-top: 0px; }
.inner-wrap > :last-child{ margin-bottom: 0px; }
@media (min-width: 40em){
.inner-wrap{ padding: 2.5em 1.5em; }
}
.social-wrap{ overflow: hidden; width: 15em; margin: 0px auto; }
.social-wrap a{ display: block; float: left; width: 33.333%; text-align: center; position: relative; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
.social-wrap a path{ fill: #7e90a5; transition: all 0.1s linear; -webkit-transition: all 0.1s linear; }
.social-wrap svg{ display: inline-block; vertical-align: middle; }
figure{ padding: 0px; margin: 2em 0px; }
.site-wrap{ background-color: rgb(255, 255, 255); position: relative; overflow: hidden; margin: 0px auto; background-position: initial initial; background-repeat: initial initial; }
.sh-sticky-wrap{ background-size: cover; z-index: 10000; background-position: 50% 50%; background-repeat: no-repeat no-repeat; }
@media (min-width: 60em){
.sh-sticky-wrap{ height: 5.0625em; position: relative; }
}
.site-header-wrap{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
@media (min-width: 40em){
.site-header-wrap{ position: relative; }
}
.particles-js-canvas-el{ position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; opacity: 0.5; z-index: -1; }
@media (min-width: 40em){
.particles-js-canvas-el{ z-index: 0; }
}
.site-header{ height: 5.0625em; }
.site-header .inner-wrap{ padding-top: 0px; padding-bottom: 0px; }
@media (min-width: 40em){
.site-header-home .site-nav{ transition: opacity 0.5s ease-in-out; -webkit-transition: opacity 0.5s ease-in-out; }
}
.site-header-home .site-logo figure::after{ content: ''; background-image: url(img/julian-headshot.jpg); background-size: cover; display: block; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; background-position: 50% 50%; background-repeat: no-repeat no-repeat; }
@media (min-width: 40em){
.site-nav-container{ width: 20em; float: right; margin-right: 1em; }
}
@media (min-width: 60em){
.site-nav-container{ width: 25em; }
}
.site-logo{ overflow: hidden; display: block; text-decoration: none; font-size: 1em; float: left; height: 5.0625em; padding-top: 0.3em; padding-bottom: 0.3em; }
.site-logo figure{ position: relative; overflow: hidden; background-color: rgb(35, 80, 122); display: block; height: 4.5em; width: 4.5em; line-height: 4.5em; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; text-align: center; margin: 0px; box-shadow: none; float: left; }
.site-logo figure img{ vertical-align: middle; width: 90%; }
.sh-utility-nav{ overflow: hidden; height: 5.0625em; }
.sh-utility-nav .social-wrap{ width: 10em; display: none; }
.sh-utility-nav .social-wrap a{ height: 5.0625em; line-height: 5.0625em; }
@media (min-width: 40em){
.sh-utility-nav{ text-align: right; width: 10em; float: right; }
.sh-utility-nav .social-wrap{ width: 10em; }
.sh-utility-nav .social-wrap{ display: inline-block; }
}
@media (min-width: 60em){
.sh-utility-nav{ width: 10em; }
.sh-utility-nav .social-wrap{ width: 10em; }
}
.sh-icons{ float: right; z-index: 2; position: relative; padding-top: 0.3em; }
.site-intro{ text-align: center; }
.site-intro .inner-wrap{ padding-top: 2em; padding-bottom: 2em; }
@media (min-width: 40em){
.site-intro .inner-wrap{ padding-top: 7.5em; padding-bottom: 7.5em; }
}
.si-signature{ max-width: 20em; }
.si-h1{ font-size: 1.875em; font-family: ProximaNova, sans-serif; font-weight: normal; margin-top: 1.5em; margin-bottom: 1.5em; position: relative; z-index: 2; font-style: normal; }
@media (min-width: 40em){
.si-h1{ font-size: 2.25em; }
}
@media (min-width: 60em){
.si-h1{ font-size: 2.5em; }
}
.si-subtext{ position: relative; font-weight: bold; z-index: 2; }
.sh-ico-info{ color: green; border: 1px solid rgb(126, 144, 165); z-index: 2; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; height: 2.5em; width: 2.5em; display: inline-block; position: relative; float: right; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
.sh-ico-info span{ position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; text-indent: -99999em; overflow: hidden; text-align: left; background-image: url(img/ico-nav.svg); background-size: 1em; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; background-position: 50% 50%; background-repeat: no-repeat no-repeat; }
@media (min-width: 40em){
.sh-ico-info{ display: none; }
}
.site-nav-container .snc-header{ overflow: hidden; }
.site-nav-container .sh-ico-info{ clear: both; }
.site-nav-container .sh-ico-info span{ -webkit-transform: rotate(-90deg); }
.work-section{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
*{ box-sizing: border-box; }
img{ max-width: 100%; height: auto; }
img{ }
img{ display: inline-block; vertical-align: middle; }