<section class="site-intro" >
    
      <div class="inner-wrap">
      <img src="img/julian-signature-blue.svg" alt="Site Logo" class="si-signature">
   <h1 class="si-h1">Hey there, I'm Julian, a polyskilled designer.</h1>
       
       <p class="si-subtext">
         <a href="/about">About</a> &nbsp; / &nbsp; <a href="/work">Work</a> &nbsp; / &nbsp; <a href="/journal">Journal</a> &nbsp; / &nbsp; <a href="mailto:juliangaviria@me.com">Contact</a>
       </p>
    
      </div>
    </section>
    </div>