<!-- <hr> -->

<article class="project-preview">
  
  <h2 class="project-preview__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  
  <figure class="project-preview__featured-img"><a href="{{ .RelPermalink }}"><img src="{{ .Params.featured_image }}" alt="{{ .Title }}"></a></figure>
  <!-- <time class="cf-date"><span><b>{{ .Date.Format "Jan 2" }}</b> <br> {{ .Date.Format "2006" }}</span></time> -->
  <div class="project-preview__body">
    <p class="project-preview__description"> {{ .Description }}</p>
    {{ if .Params.tags }}
    <ul class="project-preview__tags tags-list">
      {{ range .Params.tags }}
      <li><span class="tag">{{ . }}</span></li> 
      {{ end }}
    </ul>
  {{ end }}
  </div>
</article>
