{{ partial "html-header" . }} 
{{ partial "site-header" . }}
{{ partial "page-header" . }}
<section class="site-content" role="main">
  <!-- <div class="inner-wrap-narrow"> -->
    <main id="main">
      
      <div class="inner-wrap-narrow"><p class="mb-4">Some of my recent work while I was heading up design at Thomasnet.com. Don't mind my appearance as I make daily progress on each case.</p>
      <div class="projects-list__wrap">
        {{ range .Pages.ByWeight }} {{ .Render "li"}} {{ end }}
      </div><hr>
      <p class="mb-0">While you're here, I'm currently in the market for a design leadership gig. If you're interested in working together, <a href="mailto:me@julian.is">hit me up</a>, or feel free to share <a href="/resume/">my resume</a>.</p>
    </div>

    
    </main>
  <!-- </div> -->
</section>
{{ partial "footer" . }} 
{{ partial "html-footer" . }}