.article-content {
	.container {
	}
	@include mq(large) {
		.container {
			@include display-grid;
			align-items: start;
			grid-template-rows: auto auto auto;

			grid-template-areas: "article-table-of-contents article-main article-head" "article-table-of-contents article-additional-info article-head";
			grid-template-columns: 12rem 4fr 12rem;
			max-width: rem(1248);
		}
	}
}

.article__info {
	grid-area: article-info;
	position: sticky;
	position: -webkit-sticky;
	top: 6em;
}

.article__main {
	grid-area: article-main;
	min-width: 0;
	h2:target, h3:target, h4:target {
		// background-color: $light-gray;
		background: lighten($light-gray, 3%);
    	box-shadow: -10px 0 0 12px lighten($light-gray, 3%);
		.article__header-target {
			opacity:1;
		}
	}
	h2:hover, h3:hover, h4:hover {
		.article__header-target {
			opacity:1;
		}
		
	}
}

// .article__table-of-contents {
//     grid-area: article-table-of-contents;
//     background-color: lighten($light-gray, 4%);
//     margin-bottom: $baseline*2;
//     padding: $baseline $baseline*3;
//     @include mq(medium) {
//         float: right;
//         max-width: 15rem;
//         margin: 0 0 $baseline $baseline;
//         ol {
//             li {
//                 font-size: 1em !important;
//                 a {
//                   &.entered {
//                   background-color:$light-gray;
//                   border-bottom:3px solid $light-gray;
//                 }
//                 }
//                 &:before {
//                     position: absolute;
//                     left: -1.5rem;
//                 }
//             }
//         }
//     }
//     @include mq(large) {
//         float: none;
//         background-color: $white;
//         padding: 0;
//         position: sticky;
//         top: 6em;
//     }
// }
.article__table-of-contents {
	grid-area: article-table-of-contents;
	background-color: lighten($light-gray, 4%);
	margin-bottom: $baseline * 2;
	padding: $baseline $baseline * 3;
	ul {
		padding-left: 0 !important;
		li {
			font-size: 1em !important;
			margin-bottom: 0.75rem !important;
			&:after {
				background-image: none !important;
			}
		}
		ul {
			display: none;
		}
	}
	@include mq(medium) {
		float: right;

		max-width: 15rem;
		margin: 0 0 $baseline $baseline;
		ul {
			li {
				font-size: 1em !important;
				a {
					&.entered {
						background-color: $light-gray;
						border-bottom: 3px solid $light-gray;
					}
				}
				&:before {
					position: absolute;
					left: -1.5rem;
				}
			}
		}
	}
	@include mq(large) {
		float: none;
		background-color: $white;
		padding: 0;
		margin: 0;
		position: sticky;
		position: -webkit-sticky;
		top: 6em;
	}
}

#TableOfContents {
	> ul {
		padding-left: 0;
		> li {
			&:after {
				display: none;
			}
		}
	}
}

//Aside
.article__aside__header {
	@include small-font-size;
	margin-top: 0.5rem;
	margin-bottom: $baseline;
}

.article__additional-info {
	grid-area: article-additional-info;
}
.article__header-target {
	font-size:.75em;
	color:$gray;
	border-bottom:0 !important;
	opacity:0;
	// h2 & {
	// 	opacity:1;
	// }
}



.article__main {
	
}