.blog-feed {
	//border-bottom:$base-border;
	//padding-bottom:$baseline*3;
	// background-color:lighten($light-gray,5%);
	// .bf-date {
	// 	background-color:$white;
	// }
}

.bf-item {
	margin-bottom: $baseline * 4;
}
.bf-date {
	float: left;
	margin-right: 1em;
	background-color: lighten($light-gray, 4%);
	display: block;
	height: 4em;
	width: 4em;
	border-radius: 100%;
	line-height: 4em;
	text-align: center;
	font-family: $header-font-family;
	text-transform: uppercase;
	color: $base-color;
	span {
		display: inline-block;
		line-height: 1em;
		vertical-align: middle;
	}
}

.bf-content {
	display: block;
	overflow: hidden;

	@include mq(medium) {
		//@include span-columns(9 of 12);
	}
}
.bf-title {
	margin-top: 0;
	@include large-font-size;
}
.bf-excerpt {
	margin-bottom: 0;
}

.post-meta {
	text-align: center;
	text-transform: uppercase;
	@include small-font-size;
}
%post-meta-ico {
	background-repeat: no-repeat;
	background-size: 0.875em;
	background-position: center left;
	padding-left: 1em;
	margin: 0 0.25em;
}
.post-date {
	@extend %post-meta-ico;
	background-image: url(img/ico-calendar.svg);
}
.post-reading-time {
	@extend %post-meta-ico;
	background-image: url(img/ico-time.svg);
}

.share-btns {
	text-align: center;
	p {
		font-size: $base-font-size;
	}
}
.share-btns-v2 {
	margin-top: $baseline * 4;
}


.blog-feed {
	//background-color:lighten($light-gray,4%);
	border-top: $base-border;
}
.blog-feed__wrap {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
	@include mq(medium) {
		grid-template-columns: 1fr 1fr;
	}
	@include mq(large) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.cf-item {
	//margin-bottom:$baseline*4;
	background-color: $white;
	padding: 1em;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: lighten($light-gray, 4%);
	//border:$base-border;
}
.cf-ico {
	width: 2.5em;
	margin-left: 1em;
	// background-color:lighten($light-gray,4%);
	// border-radius:100%;
	// padding:1em;
	float: left;
	margin-top: 0;
	margin-bottom: $baseline;
	img {
		//max-width:100%;
	}
	@include mq(medium) {
		width: 2.5em;
	}
}
.cf-date {
	float: left;
	//margin-right:1em;
	// background-color:lighten($light-gray,4%);
	//background-color:white;
	display: block;
	height: 4em;
	width: 4em;
	border-radius: 100%;
	line-height: 4em;
	text-align: right;
	font-family: $header-font-family;
	text-transform: uppercase;
	color: $base-color;
	font-size: 0.75em;
	span {
		display: inline-block;
		line-height: 1em;
		vertical-align: middle;
	}
	br {
		display: none;
	}
	//display:none;
	position: absolute;
	right: 1em;
	top: 1em;
}

.cf-content {
	display: block;
	overflow: hidden;

	@include mq(medium) {
		//@include span-columns(9 of 12);
	}
}
.cf-title {
	margin-top: 0;
	margin-bottom: $baseline;
	grid-column: 3;
	@include medium-font-size;
}
.cf-excerpt {
	margin-bottom: 0;
	@include small-font-size;
}
