
.page-header--cl .inner-wrap {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  @include mq(medium) {
    flex-direction: row;
  }
}
.cover-letter__logo {
  max-width:16rem;
  height:auto;
  display:block;
  @include mq(medium) {
  
  }
}

.cover-letter__plus {
  font-weight:bold;
  font-size:1.5rem;
  padding:0 .75rem;
}