.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @include mq(medium) {
    overflow:visible;
  }
}










/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  background-color:$white;
  position:relative;
  z-index:2;
}

.site-content-primary {}

.site-content-secondary {}




/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important;
}

.no-svg {
  .search-submit {
    background: url(img/ico-search.png) no-repeat center center !important;
  }
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $base-color;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px; //position:absolute;
  top: 0;
  right: 0;
}



/*=============== Portfolio Section ===============*/

.work-section {
  border-bottom: 1px solid $base-border-color;
}

.ps-item {
  //border-top: 1px solid $base-border-color;
  @include span-columns(12 of 12);
  @include mq(medium) {
    @include span-columns(6 of 12);
    &:nth-child(2n) {
      @include omega;
    }
  }
  border-bottom:0 !important;
  padding:$baseline;
  .section-header {
    background-color: lighten($light-gray, 4.5%);
    padding: $baseline*2;
    margin-bottom: 0;
    @include transition (background .2s ease-in-out);
  }
  &:hover {
    .section-header {
      background-color: $light-gray;
    }
  }
}

.section-header {
  text-align: center;
  a {
    text-decoration: none;
  }
  h1,
  h2 {
    margin-top: 0;
    @include large-font-size;
  }
  p {
    margin-bottom:0;
  }
  margin-bottom:$baseline*4;
}




/*=============== Subscribe Module ===============*/

.subscribe-module {
  //background-color:lighten($light-gray,4%);
  //background-color: $blue;
  //border-top: $base-border;

  h2,
  h3,
  p {
    color: $white;
    margin-bottom: 0;
  }
  .mc-label {
    display: none;
  }
  .inner-wrap {
    border-bottom: 1px solid $light-blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  @include mq(medium) {
    .inner-wrap {
      grid-template-columns: 7fr 5fr;
    }
  }
}

.subscribe-module__header {
  h2,
  h3 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.subscribe-module__form {
  text-align: left;
  @include mq(medium) {
    text-align: right;
  }
}