//Site Nav
.site-nav,
#hs_menu_wrapper_primary_nav {
  background-color: $nav-background-mobile;
  span {
    white-space: nowrap;
  }
  &.active {
    //display:block;
  }
  @include mq(medium) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    background-color: $nav-background;
  }
}

.sn-level-1,
#hs_menu_wrapper_primary_nav > ul {
  margin: 0;
  padding: 0;
  @include mq(medium) {
    height: $nav-height;
  }
}

.sn-li-l1,
.hs-menu-depth-1 {
  display: block;
  border-bottom: $nav-border-mobile;
  background-color: $nav-background;
  position: relative;
  text-align: $nav-text-align-mobile;
  &:first-child {
    border-top:$nav-border-mobile;
  }
  a.active {
    background-color: $nav-active-background;
  }
  span {
    font-size: $nav-font-size-mobile;
  }
  &.has-subnav,
  &.menu-item-has-children,
  &.hs-item-has-children {
    .m-subnav-arrow {
      cursor: pointer;
      display: none;
      @include mq(small) {
        padding-right: 0em;
        background-image: url(img/ico-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: em(12);
        display: block;
        width: 40px;
        height: $nav-height;
        position: absolute;
        background-color: darken($nav-background-mobile, 3%);
        right: 0;
        top: 0px;
        &.active {
          background-image: url(img/ico-arrow-up.svg);
        }
      }
    }
    > a {
      span {
        padding-right: 0em;
        background-image: url(img/ico-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: em(12);
        display: block;
      }
      &.active {
        span {
          background-image: url(img/ico-arrow-up.svg);
        }
      }
    }
  }
  > a {
    display: block;
    height: $nav-height;
    line-height: $nav-height;
    color: $nav-text-color;
    text-decoration: none;
    padding: 0 $nav-spacing-mobile;
    &:visited {
      color: $nav-text-color;
    }
    &:hover {
      color: $nav-text-color-hover;
    }
  }
  @include transition (background-color .2s ease-in-out);
  &:hover {
    background-color: $nav-hover;
  }
  @include mq(medium) {
    height: $nav-height;
    float: left;
    border-bottom: 0;
    border-right: $nav-border;
    &:first-child {
    border-top:0;
  }
    span {
      font-size: $nav-font-size-medium;
    }
    text-align: $nav-text-align-medium;
    font-weight:bold;
    &:nth-child(1n) {
      width: 33.3%;
    }
    &:nth-child(2n) {
      width: 33.3%;
    }
    &:nth-child(3n) {
      width: 33.3%;
    }
    &:nth-child(4n) {
      width: 25%;
    }
    &:nth-child(5n) {
      width: 20%;
    }
    &:hover {
      .sn-level-2,
      .hs-menu-children-wrapper {
        display: block;
      }
    }
    &.has-subnav,
    &.menu-item-has-children,
    &.hs-item-has-children {
      > a {
        span {
          padding-right: 1em;
          background-size: em(10);
          display: inline;
        }
        &.active {
          span {
            background-image: url(img/ico-arrow-down.svg);
          }
        }
      }
    }
    > a {
      padding: 0 $nav-spacing-medium;
    }
  }
  @include mq(large) {
    span {
      font-size: $nav-font-size;
    }
    > a {
      padding: 0 $nav-spacing-large;
    }
  }
  @include mq(xlarge) {
    > a {
      padding: 0 $nav-spacing-xlarge;
    }
  }
}

.sn-level-2,
.hs-menu-children-wrapper {
  padding: 0;
  margin: 0;
  display: none;
  position: relative;
  &.active {
    display: block;
  }
  @include mq(medium) {
    position: absolute;
    &.active {
      display: none;
    }
  }
}

.sn-li-l2,
.hs-menu-depth-2 {
  background-color: $nav-subnav-background;
  > a {
    //background-color:red;
    padding: 0 $nav-spacing-mobile;
    color: $nav-text-color;
    border-top: $nav-subnav-border;
    display: block;
    text-decoration: none;
    line-height: $nav-subnav-height;
    span {
      font-size: $nav-subnav-font-size;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &:last-child {
    > a {
      border-bottom: 0;
    }
  }
  &:hover {
    background-color: $nav-subnav-hover;
  }
  @include mq(medium) {
    &:hover {
      .sn-level-3 {
        display: block;
      }
    }
    > a {
      padding: 0 $nav-spacing-medium;
    }
  }
  @include mq(large) {
    > a {
      padding: 0 $nav-spacing-large;
    }
  }
  @include mq(xlarge) {
    > a {
      padding: 0 $nav-spacing-xlarge;
    }
  }
}

.sn-level-3 {
  //background-color:green;
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative;
  border-left: 1px solid lighten($nav-hover, 10%);
  &.active {
    display: block;
  }
  @include mq(medium) {
    position: absolute;
    top: $nav-height;
    left: 100%;
    //width:22.5em;
    &.active {
      display: none;
    }
  }
}

.sn-li-l3 {
  @extend .sn-li-l2;
}

//Site Nav Container
.site-nav-container {
  background-color: $nav-background-mobile;
  width: 17em;
  height: 100%;
  //left:-20em;
  right: -17em;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  //@include transition(right .75s,  linear);
  //box-shadow: -2px 0px 10px rgba(0,0,0,.25);
  transition: right .5s, box-shadow .5s, ease-in-out;
  &.active {
    right: 0;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, .25);
  }
  @include mq(medium) {
    width: auto;
    height: auto;
    right: auto;
    bottom: auto;
    top: auto;
    position: static;
    background-color: transparent;
    box-shadow: none !important;
  }
}

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  @include transition(all .5s ease-in-out);
  &.active {
    display: block;
    opacity: 0;
  }
  @include mq(medium) {
    display: none !important;
  }
}

.close-menu {
  display: inline-block;
  clear: both;
  //width:5em;
  position: relative;
  text-align: center;
  color: $base-color !important;
  font-family: $header-font-family;
  padding: $baseline*.5 $baseline*2;
  padding-right: em(25);
  margin: 0 auto;
  font-size: em(14);
  background-color: $white;
  border-radius: em(3);
  &:visited {
    color: $white;
  }
  &:hover {
    color: $white;
  }
  &:after {
    content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: em(13) em(13);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: em(25);
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  @include mq(medium) {
    display: none;
  }
}

.snc-header {
  text-align: center;
  padding: .3em $baseline*2;
  overflow: hidden;
  @include mq(medium) {
    padding: 0;
  }
}

.snc-footer {}
