{{ partial "html-header" . }}
<div class="resume-wrap resume-wrap--court">
  <section class="resume-container resume-container--half-mode" role="main">
    <header class="resume-header resume-section">
      <div class="resume-logo">
        <!-- <figure>
          <img src="/img/julian-signature.svg" alt="Site Logo" />
        </figure> -->
      </div>
      <h1>Courtney Gaviria</h1>
      <h2>Marketing Operations Manager</h2>
    </header>
    <section class="resume-contact resume-section">
      <ul class="resume-contact__list">
        <li class="resume-contact__item">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
          >
            <title>Contact</title>
            <g fill="currentColor" fill-rule="evenodd">
              <path
                d="M2.5 19.79v-8.457l6.207 4.228zM29.668 22.165v.833a1 1 0 0 1-1 1H3.5a1 1 0 0 1-1-1v-.833l7.287-5.042 5.724 4a1 1 0 0 0 1.146 0l5.724-4 7.287 5.042z"
              />
              <path
                d="M2.5 9.133V8.3a1 1 0 0 1 1-1h25.168a1 1 0 0 1 1 1v.833l-13.005 9.231a1 1 0 0 1-1.158 0L2.5 9.134zM29.668 11.333v8.457L23.46 15.56z"
              />
            </g>
          </svg>
          <a href="mailto:courtney.fitzpat@gmail.com"
            >courtney.fitzpat@gmail.com</a
          >
        </li>
        <li class="resume-contact__item">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
          >
            <title>Phone #</title>
            <path
              d="M9.507 4.236l3.105 3.229c.87.745.87 2.235 0 2.98l-2.484 2.484c1.74 3.726 5.34 7.328 8.943 8.943l2.484-2.484c.869-.87 2.235-.87 3.105 0l3.104 3.105c.87.869.87 2.235 0 3.104l-3.104 3.105C19.195 34.167-2.043 12.805 3.298 7.465l3.105-3.23c.869-.745 2.235-.745 3.104 0zm8.446-.497c-.994-.249-.621-1.863.497-1.615 5.589 1.49 9.935 5.962 11.426 11.55.248.994-1.366 1.367-1.615.373C26.895 9.08 23.045 5.105 17.953 3.74zm-.994 3.85c-.993-.249-.62-1.863.373-1.615a12.299 12.299 0 0 1 8.694 8.694c.248.994-1.242 1.49-1.615.373a10.728 10.728 0 0 0-7.452-7.452z"
              fill="currentColor"
              fill-rule="evenodd"
            />
          </svg>
          <a href="tel:203-583-9822">203-583-9822</a>
        </li>
        <li class="resume-contact__item">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
          >
            <title>Address</title>
            <defs>
              <linearGradient
                x1="0%"
                y1="18.018%"
                x2="100.528%"
                y2="69.882%"
                id="a"
              >
                <stop stop-color="currentColor" offset="0%" />
                <stop stop-color="currentColor" offset="100%" />
              </linearGradient>
            </defs>
            <path
              d="M15.956 2a9.799 9.799 0 0 0-9.8 9.8c0 2.116.684 4.542 1.835 6.16L15.956 30l7.964-12.04c1.151-1.618 1.836-4.013 1.836-6.16 0-5.413-4.387-9.8-9.8-9.8zm0 13.533a3.744 3.744 0 0 1-3.734-3.733 3.744 3.744 0 0 1 3.734-3.733 3.744 3.744 0 0 1 3.733 3.733 3.744 3.744 0 0 1-3.733 3.733z"
              fill="currentColor"
              fill-rule="nonzero"
            />
          </svg>
          Dingmans Ferry, PA
        </li>
        <li class="resume-contact__item">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
          >
            <title>LinkedIn</title>
            <g fill="currentColor" fill-rule="evenodd">
              <path
                d="M18.178 12.008v1.376l.002.677c1.623-1.591 3.296-2.794 5.97-2.794 3.155 0 6.206 1.321 6.206 5.628v11.903a1 1 0 0 1-.985 1l-3.565.053a1 1 0 0 1-1.015-1v-8.83c0-2.171-.544-3.57-3.136-3.57-2.284 0-3.24.409-3.24 3.414v8.93a1 1 0 0 1-.988 1l-4.73.057v-17.8a1 1 0 0 1 .987-1l3.482-.044a1 1 0 0 1 1.012 1zM8.28 5.202a3.14 3.14 0 1 1-6.28 0 3.14 3.14 0 0 1 6.281 0zM2.211 12.115v16.787a1 1 0 0 0 1.013 1l3.737-.047a1 1 0 0 0 .987-1V12.069a1 1 0 0 0-1.012-1l-3.737.046a1 1 0 0 0-.988 1z"
              />
            </g>
          </svg>
          <a href="https://www.linkedin.com/in/courtneygaviria/"
            >linkedin.com/in/courtneygaviria</a
          >
        </li>
      </ul>
    </section>
    <section class="resume-summary resume-section">
      <h2 class="resume-section__title">Summary</h2>
      <p>
        Marketing Operations leader with a proven track record of driving 50%
        year-over-year growth by optimizing processes, managing martech
        integrations, and enhancing data quality. Streamlined Salesforce
        workflows, reduced tech stack costs by 45%, integrated acquisitions, and
        supported brand relaunches. With expertise in automation, campaign
        execution, and team alignment, passionate about leveraging strategy and
        operations to drive growth and solve complex challenges.
      </p>
    </section>
    <section class="resume-experience resume-section">
      <h2 class="resume-section__title">Experience</h2>

      <h2 class="resume-section__title resume-section__title--alternative">
        3Pillar Global, Fairfax, Virginia (Remote)
      </h2>

      <ul class="resume-experience__list">
        <li class="resume-experience__item">
          <h2 class="resume-experience__item__title">
            Senior Marketing Operations Manager /
            <i>October 2022 - Present</i>
          </h2>
          <ul class="resume-experience__item__summary--list list">
            <li>
              Optimized Salesforce processes for RevOps and marketing by
              implementing lead flow alerts, stage-tracking automations, and
              unified funnel reporting, enhancing efficiency and data hygiene.
            </li>
            <li>
              Managed martech stack integrations and migrations, including
              Marketo, 6Sense, ZoomInfo, and HubSpot; reduced tech stack costs
              by 50% while maintaining lead volume and quality.
            </li>
            <li>
              Integrated multiple acquisitions into main company systems and
              supported brand and site relaunches under tight deadlines,
              overseeing CRM migrations, website redirects, content audits, and
              asset rebranding.
            </li>
            <li>
              Developed and executed marketing campaigns within Marketo and
              HubSpot, ensuring seamless MAP migration and delivering regular
              ROI and funnel performance reporting.
            </li>
            <li>
              Streamlined marketing operations by creating and maintaining SOPs,
              supporting BDR onboarding and training, optimizing lead handoff
              processes, managing marketing contracts and budgets, and enhancing
              lead/contact quality through regular data audits.
            </li>
          </ul>
        </li>
      </ul>

      <h2 class="resume-section__title resume-section__title--alternative">
        Thomas, a Xometry Company, New York, NY
      </h2>

      <ul class="resume-experience__list">
        <li class="resume-experience__item">
          <h2 class="resume-experience__item__title">
            Director of Marketing Operations /
            <i>January 2021 - September 2022</i>
          </h2>
          <ul class="resume-experience__item__summary--list list">
            <li>
              Oversaw a team of 3 people, utilizing an agile framework to
              organize partnership networks, business systems, and processes.
            </li>
            <li>
              Developed and implemented marketing strategies for Website,
              SEO/SEM, and Marketing Automation products used by over 800 B2B
              clients, resulting in a 50% YoY revenue growth.
            </li>
            <li>
              Implemented lean principles and built proprietary tools to
              increase efficiency, reduce operational costs, improve project
              timelines by 33%, and drive team revenue and scalable hiring.
            </li>
            <li>
              Spearheaded the development and management of a channel network
              through prospecting, negotiating, training, and ongoing support;
              maintained active partner relationships by resolving issues,
              serving as an internal advocate, and handling program forecasting
              and SLA management.
            </li>
            <li>
              Managed, launched, and presented the company’s first-ever
              multi-product webinar series, increasing stakeholder awareness of
              feature rollouts and boosting add-on and upgrade sales volume in
              2021.
            </li>
          </ul>
        </li>

        <li class="resume-experience__item">
          <h2 class="resume-experience__item__title">
            Account Supervisor / <i>January 2017 - January 2021</i>
          </h2>
          <ul class="resume-experience__item__summary--list list">
            <li>
              Served as clients’ primary point of contact and manage
              collaboration between cross-functional teams including design,
              development, SEM, and social media.
            </li>
            <li>
              Managed a team of 10 people, helping them maintain their workload
              and ensure SEO deliverables are met as expected by clients.
            </li>
          </ul>
        </li>

        <li class="resume-experience__item">
          <h2 class="resume-experience__item__title">
            Digital Marketing Strategist / <i>August 2015 - January 2017</i>
          </h2>
          <ul class="resume-experience__item__summary--list list">
            <li>
              Managed client relationships and development of strategic digital
              marketing initiatives for nine industrial brands.
            </li>
            <li>
              Developed customized marketing plans to target industrial client
              goals for their sales, marketing and lead nurturing funnel.
            </li>
          </ul>
        </li>
      </ul>

      <h2 class="resume-section__title resume-section__title--alternative">
        Colangelo Synergy Marketing, Darien, CT
      </h2>

      <ul class="resume-experience__list">
        <li class="resume-experience__item">
          <h2 class="resume-experience__item__title">
            Digital Account Executive / <i>August 2013 - July 2015</i>
          </h2>
          <ul class="resume-experience__item__summary--list list">
            <li>
              Responsible for client communication and digital projects
              including email blasts, banner ads, website redesigns for 10 large
              CPG brands.
            </li>
            <li>
              Identified opportunities to better engage with consumers by
              creating synergy among marketing and advertising with a strong
              emphasis on social media technologies.
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="resume-competencies resume-section">
      <h2 class="resume-section__title">Tools</h2>
      <ul class="resume-competencies__list mb-0">
        <li>HubSpot</li>
        <li>6Sense</li>
        <li>Marketo</li>
        <li>Salesforce</li>
        <li>ZoomInfo</li>
        <li>Looker</li>
        <li>Excel</li>
        <li>Sendoso</li>
        <li>Validity</li>
        <li>Google Analytics</li>
        <li>Outreach</li>
      </ul>
    </section>

    <section class="resume-competencies resume-section">
      <h2 class="resume-section__title">Skills</h2>
      <ul class="resume-competencies__list mb-0">
        <li>Marketing Automation</li>
        <li>Campaign Management</li>
        <li>Demand Generation</li>
        <li>Funnel Reporting</li>

        <li>Inbound Marketing</li>

        <li>B2B Marketing</li>
        <li>Digital Marketing</li>
        <li>Business Operations</li>
        <li>SEO</li>
        <li>Revenue Analytics</li>
        <li>Partner Management</li>
        <li>Tech Stack Setup & Integrations</li>

        <li>Revenue Operations</li>
      </ul>
    </section>

    <section class="resume-education resume-section">
      <h2 class="resume-section__title">Education</h2>
      <p class="resume-education__item">
        <b>BSBA, Marketing - Summa Cum Laude (3.85 GPA)</b> <br />
        Western New England University <br />
        Springfield, MA / 2009 - 2013
      </p>
    </section>
  </section>
</div>
{{ partial "html-footer" . }}
