{{ partial "html-header" . }} 
<div class="resume-wrap">
  <section class="resume-container" role="main">
    
    <header class="resume-header resume-section">
      <div class="resume-logo">
        <figure>
          <img src="/img/julian-signature.svg" alt="Site Logo">
        </figure>
      </div>
      <h1>Julian Gaviria</h1>
      <h2>Director of Product Design</h2>
    </header>
    <section class="resume-contact resume-section">
      <ul class="resume-contact__list">
        <li class="resume-contact__item"><b>Email:</b> <a href="mailto:me@julian.is">me@julian.is</a></li>
        <li class="resume-contact__item"><b>Phone:</b> <a href="tel:1234567890">123-456-7890</a></li>
        <li class="resume-contact__item"><b>Address:</b> Placeholder, Hoboken, NJ</li>
        <li class="resume-contact__item"><b>Website:</b> <a href="https://julian.is">julian.is</a></li>
        <li class="resume-contact__item"><b>LinkedIn:</b> <a href="https://www.linkedin.com/in/juliangaviria/">linkedin.com/in/juliangaviria/</a></li>
        <!-- <li class="resume-contact__item"><b>Dribbble:</b> <a href="https://dribbble.com/juliangav">dribbble.com/juliangav</a></li>
        <li class="resume-contact__item"><b>Github:</b> <a href="https://github.com/juliangav">github.com/juliangav</a></li> -->
        
      </ul>
    </section>
    <section class="resume-summary resume-section">
        <h2 class="resume-section__title">Summary</h2>
        <p>A seasoned product design and experimentation leader with an 11-year background in improving KPIs and crafting experiences guided by data and experimentation. Success lies in the pragmatic and user-centric approach to product features, scalable design systems, and experimentation frameworks driven by business objectives and northstar metrics. </p>
    </section>
    <section class="resume-experience resume-section">
        <h2 class="resume-section__title">Experience</h2>
        <ul class="resume-experience__list">
          <li class="resume-experience__item">
            <h3 class="resume-experience__item__title">Senior Director, Product Design</h3>
            <h4 class="resume-experience__item__company">Xometry, New York, NY / January 2022 - Present</h4>
            <ul class="resume-experience__item__summary--list">
              <li>Partnered with Xometry’s product, design, and technology teams to continue the work and rollout of prioritized roadmap items for Thomasnet.com.
              </li>
              <li>Architected, designed, and saw through to deployment a set of self-serve features enabling suppliers to pay for premium subscriptions with minimal human intervention.   

              </li>
              <li>Worked with Xometry’s growth team and head of data science to extend the experimentation framework and process of Thomasnet.com onto Xometry.

              </li>
              <li>Introduced Usertesting.com, a tool critical to the design process and experimentation for on-demand user testing and evaluative research. 
              </li>
              
            </ul>
          </li>

          <li class="resume-experience__item">
            <h3 class="resume-experience__item__title">VP of Product and Design</h3>
            <h4 class="resume-experience__item__company">Thomasnet.com, New York, NY / December 2020 - January 2022</h4>
            <ul class="resume-experience__item__summary--list list">

              <li>Led a cross-functional six-person team responsible for the product design of Thomasnet.com and establishing a unified product management framework across the organization.</li>

              <li>Introduced and worked with leadership to establish a multi-sided platform strategy focused on growth of the core transaction and the conversion rate to revenue.</li>

              <!-- <li>Architected and received leadership concensus of a feature roadmap focused on bringing communications between buyers and suppliers on to Thomasnet.com, providing the ability for suppliers to directly claim and list their company, and demonstrating ROI to the premium user base. </li> -->

              <!-- <li>Architected and received concensus on a feature roadmap focused on introducing on-platform communications, enabling suppliers to claim and list their company on Thomasnet.com, and demonstrating ROI to the premium user base. </li> -->

              <li>Architected and received concensus on a feature roadmap which introduces on-platform communications, automates the claiming and listing of companies on Thomasnet.com by suppliers, and demonstrates ROI to the premium user base. </li>
              
              <li>Partnered with engineering and data science to create and launch an analytics dashboard for suppliers optimized to demonstrate the ROI of the platform, upsell to premium subscriptions, and serve as a sales prospecting tool.
              </li>

              <li>Led the efforts to define and design a set of on-platform communication and project-building tools specific to the matchmaking use case between industrial buyers and suppliers.</li>

              <li>Participated in the efforts that led to the acquisition of Thomasnet.com by Xometry.</li>


            </ul>
          </li>
          <li class="resume-experience__item">
            <h3 class="resume-experience__item__title">Director of User Experience and Experimentation </h3>
            <h4 class="resume-experience__item__company">Thomasnet.com, New York, NY / July 2017 - December 2020</h4>
            <ul class="resume-experience__item__summary--list list">
              <li>Led a five-person team of product designers and UX engineers responsible for the user experience design of Thomasnet.com and its family of products.</li>
              <li>Proposed, designed, and worked with engineering to create a COVID-19 Response System connecting manufacturers of PPE with front-line organizations; a system which Congress recommended as a critical resource to the Manufacturing Caucus (second to FEMA). 
              </li>
              <li>Established an experimentation framework and growth process that lead to the launch of 300+ A/B tests; a process that doubled our conversion rates and instilled an experimentation culture across the organization. </li>
              <li>Led a four-month cross-department effort in the redesign and brand unification of the Thomasnet.com.</li>
              <li>Architected, built, and implemented a scalable design system, Thomas Blueprint, actively serving as the foundation for all Thomasnet.com and its family of websites and applications.</li>
            </ul>
          </li>
          <li class="resume-experience__item">
            <h3 class="resume-experience__item__title">Director of Design and Development</h3>
            <h4 class="resume-experience__item__company">Thomas Marketing Services, New York, NY / June 2015 - July 2017
            </h4>
            <ul class="resume-experience__item__summary--list list">
              
              <li>Hired and led a ten-person cross-functional team of designers, developers, and managers responsible for strategizing, building and launching over 200+ conversion-focused marketing websites.  </li>
              <li>Introduced a new subdivision to the organization focused on growth, experimentation, and A/B testing services. </li>
              <li>Optimized our design and development process by standardizing a library of common reusable design patterns and baseline design system.</li>
              <li>Introduced WP Engine as the replacement for our in-house hosting services and recommended hosting solution for clients. </li>
            </ul>
          </li>
          <li class="resume-experience__item">
            <h3 class="resume-experience__item__title">Design and Development Manager</h3>
            <h4 class="resume-experience__item__company">Thomas Marketing Services, New York, NY / August 2014 - June 2015</h4>
            <ul class="resume-experience__item__summary--list list">
              <li>Hired and led a five-person design and development team from the ground up.</li>
              <!-- <li>Established an offshore development team to provide support with maintenance of existing websites and overflow of development work. </li> -->
              <li>Managed and individually contributed to the design and development of over 60+ conversion-focused marketing websites.</li>
              
              <li>Optimized our website production process by replacing our proprietary CMS with open-sourced WordPress and standardizing version control with Git.</li>
            </ul>
          </li>
          <li class="resume-experience__item">
            <h3 class="resume-experience__item__title">Founding Front-End Developer</h3>
            <h4 class="resume-experience__item__company">Thomas Marketing Services, New York, NY / May 2013 - August 2014</h4>
            <ul class="resume-experience__item__summary--list list">
              <li>Worked closely with marketing strategists, writers, and designers to bring a new marketing agency division from zero to a $1.5 million-dollar subsidiary.</li>
              <li>Built a front-end framework to automate the website development and production process. </li>
              <li>Designed and developed 25+ conversion-focused marketing websites.
              </li>
            </ul>
          </li>
          <li class="resume-experience__item">
            <h3 class="resume-experience__item__title">Web Designer</h3>
            <h4 class="resume-experience__item__company">Thomas Web Solutions, New York, NY / June 2011 - May 2013</h4>
            <ul class="resume-experience__item__summary--list list">
              <li>Responsible for designing 60+ custom websites for the industrial manufacturing industry.</li>
              <li>Introduced responsive web design to the business and built one of the first responsive websites for the industrial manufacturing industry.</li>
              <li>Work featured in The Mobile Web Designer's Idea Book.</li>
            </ul>
          </li>
        </ul>

    </section>
    <section class="resume-competencies resume-section">
      <h2 class="resume-section__title">Competencies</h2>
      <ul class="resume-competencies__list">
        <li class="resume-competencies__item">Multi-Sided Platform Design</li>
        <li class="resume-competencies__item">Experimentation and A/B Testing</li>
        <li class="resume-competencies__item">User Testing and Research</li>
        <li class="resume-competencies__item">Data Analysis</li>
        <li class="resume-competencies__item">Visual and UI Design</li>
        <li class="resume-competencies__item">Front-End Development</li>
        <li class="resume-competencies__item">Design Systems</li>
        <li class="resume-competencies__item">UX Copywriting</li>
        <li class="resume-competencies__item">Scaling Process</li>
      </ul>
    </section>
    <section class="resume-highlights resume-section">
      <h2 class="resume-section__title">Highlights</h2>
      <ul class="resume-highlights__list">
        <li class="resume-highlights__item"><a href="https://goodui.org/patterns/contributors/">Top contributor to GoodUI.org</a>
        </li>
        <li class="resume-highlights__item"><a href="https://xd.adobe.com/ideas/process/user-testing/effective-ab-testing-essential-tips/">A/B testing process featured by Adobe.</a>
        </li>
        <li class="resume-highlights__item"><a href="https://www.fullstory.com/blog/thomas-pivots-mid-crisis-with-fullstory-optimizely/">Created an COVID-19 Response System recommended by Congress to the Manufacturing Caucus</a></li>
        <li class="resume-highlights__item">Ran close to 300 A/B tests on Thomasnet.com focused on incremental improvements that led to doubling conversion rates.</li>
      </ul>
    </section>
    <section class="resume-education resume-section">
      <h2 class="resume-section__title">Education</h2>
      <p class="resume-education__item">
        <b>Bachelor's Degree Graphic Design</b> 2007 - 2011<br>
        Bloomfield College - Bloomfield, NJ
      </p>
    </section>
  </section>
</div>
 {{ partial "html-footer" . }}