{{ partial "html-header" . }}
{{ partial "header" . }}


<section class="site-content" role="main">
  <div class="inner-wrap-narrow">
    <main id="main">
      {{ .Content }}
    </main>

    <div class="share-btns-v2">
      <p>Hey! You should motivate me to write more by sharing this on
        <a href="https://twitter.com/intent/tweet?original_referer={{ .Site.BaseURL }}{{ .URL }}&text={{ .Title }}&url={{ .Site.BaseURL }}{{ .URL }}&via=juliangav&hashtags={{ range .Params.tags }}{{ . }}, {{ end }}" target="_blank" rel="noopener" class="ico-twitter g-social-share">Twitter</a>. :)
      </p>
    </div>
    <hr>

<div class="media-object">
      <figure class="mo-img">
        <img src="/img/julian-headshot-large-v2.jpg" alt="Julian Gaviria">
      </figure>
      <div class="mo-body">
        <p> I'm Julian, Director of User Experience at <a href="http://www.thomasnet.com" target="_blank" rel="noopener">THOMASNET.com</a>. I&nbsp;touch on topics such as UX/UI design, front-end development, and whatever I'm working on at the moment. If you want a heads up as soon as I publish something, <a href="#" class="newsletter-form">let&nbsp;me&nbsp;know</a>.</p>
      </div>
    </div>
    <hr>



{{ range first 2 (where .Site.Pages "Section" "articles") }}

{{ if ne . $ }}
   <article class="bf-item">
    
    <time class="bf-date"><span>{{ .Date.Format "Jan 2" }} <br> <b>{{ .Date.Format "2006" }}</b></span></time>
  
    <div class="bf-content">
      <h2 class="bf-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      
      <p class="bf-excerpt"> {{ .Description }}</p>
    </div>
   </article>
{{ end }}
{{ end }}
 </div>
 </section>

{{ partial "footer" . }}
{{ partial "html-footer" . }}