{{ partial "html-header" . }} {{ partial "header" . }}
<section class="site-content" role="main">
    <div class="inner-wrap-narrow">
        <main id="main">
            {{ .Content }}
        </main>
        <div class="share-btns-v2">
            <p>Hey! You should motivate me to write more by sharing this on
                <a href="https://twitter.com/intent/tweet?original_referer={{ .Site.BaseURL }}{{ .URL }}&text={{ .Title }}&url={{ .Site.BaseURL }}{{ .URL }}&via=juliangav&hashtags={{ range .Params.tags }}{{ . }}, {{ end }}" target="_blank" rel="noopener" class="ico-twitter g-social-share">Twitter</a>. :)
            </p>
        </div>
        <hr>
        <div class="media-object">
            <figure class="mo-img">
                <img src="/img/julian-headshot-large-v2.jpg" alt="Julian Gaviria">
            </figure>
            <div class="mo-body">
                <p> I'm Julian, Director of User Experience at <a href="https://www.thomasnet.com" target="_blank" rel="noopener">Thomasnet.com</a>. I mostly write about what I'm working on related to UX/UI design &amp; front-end development. If you want a heads up as soon as I publish something, <a href="#" class="newsletter-form">let&nbsp;me&nbsp;know</a>.</p>
            </div>
        </div>
        
    </div>


{{ partial "recent-articles" . }}
    




</section>
<progress value="0" id="progressBar">
    <div class="progress-container">
        <span class="progress-bar"></span>
    </div>
</progress>
{{ partial "footer" . }} {{ partial "html-footer" . }}