<article class="project-preview">
  <header><h2 class="project-preview__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2></header>
   {{ if .Params.tags }}
      <ul class="tags-list">
        {{ range .Params.tags }}
        <li><a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="tag">{{ . }}</a></li> 
        {{ end }}
      </ul>
    {{ end }}
  <figure class="project-preview__featured-img"><img src="{{ .Params.featured_image }}" alt="{{ .Title }}"></figure>
  <!-- <time class="cf-date"><span><b>{{ .Date.Format "Jan 2" }}</b> <br> {{ .Date.Format "2006" }}</span></time> -->
  <div class="project-preview__body">
    <p class="project-preview__description"> {{ .Description }}</p>
   
  </div>
</article>
