---
layout: post
---


{% include shared/html-header.html %}
<!--Site Header-->
<div class="site-header-wrap" id="particles-js">
{% include shared/header.html %}

<div class="inner-wrap">
	<h1>{{ page.title }}</h1>
	<p class="page-date"><span>{{ page.date | date: "%B %-d, %Y"}}</span></p>

</div>
</div>




<section class="site-content" role="main">
<div class="inner-wrap-narrow">
{{ content }}

<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<hr>

<p> I'm Julian, the Design/Development Director at <a href="http://rpm.thomasnet.com" target="_blank">Results-Powered Marketing</a>. Let's talk &ndash; you can reach out to me on <a href="https://twitter.com/juliangav" class="ico-twitter" target="_blank">Twitter</a> or <a href="https://www.linkedin.com/in/juliangaviria" target="_blank" class="ico-linkedin">LinkedIn</a>.</p>


</div>
</section>


{% include shared/footer.html %}
{% include shared/html-footer.html %}