---
layout: post
---


{% include shared/html-header.html %}
<!--Site Header-->
<div class="site-header-wrap" id="particles-js">
{% include shared/header.html %}

<div class="inner-wrap">
	<h1>{{ page.title }}</h1>
	<p class="page-date"><span>{{ page.date | date: "%B %-d, %Y"}}</span></p>

</div>
</div>




<section class="site-content" role="main">
<div class="inner-wrap-narrow">
{{ content }}



<hr>

<div class="share-btns">
<p>Sharing is caring:&nbsp;
<a href="https://twitter.com/intent/tweet?original_referer={{ site.url }}{{ page.url }}&text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=juliangav&hashtags={% for tags in page.tags %}{{ tags }},{% endfor %}" target="_blank" class="ico-twitter g-social-share">Twitter</a>&nbsp;
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}
&summary={{ page.description }}&source=julian.is" target="_blank" class="ico-linkedin g-social-share">Linkedin</a>&nbsp;
<a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="ico-facebook" class="ico-facebook g-social-share">Facebook</a>
</p>
</div>

<hr>

<p> I'm Julian, the Design/Development Director at <a href="http://rpm.thomasnet.com" target="_blank">Results-Powered Marketing</a>. If you want a heads up as soon as I publish something, {% if page.title == "Exit Intent Popups &mdash; A/B Testing, Data, &amp; Code" %}
<a href="#" class="newsletter-form-ab-test-post">let me know.</a>
{% else %}
<a href="#" class="newsletter-form">let me know.</a>
{% endif %}</p>







</div>
</section>


{% include shared/footer.html %}
{% include shared/html-footer.html %}